{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="row">
    <div class="col-8 offset-2 center-align white-text mt-4">
        <span class="text-alert">
            <strong class="text-uppercase text-red">warning!</strong>
            <br>
            Are you sure that you want to delete This review?
            </span>
        <br>
        <br>
        <div class="review-container review-container-text center-align white-text">
            <div>
                Product Name:{{ review.product.name|title }}
            </div>
            <div>
                {% if review.product.image %}
                        <img src="{{ review.product.image.url }}" alt="{{ review.product.name }}" class="trolley-image">
                    {% else %}
                        <img src="{{ MEDIA_URL }}noimage.png" alt="{{ review.product.name }}" class="trolley-image">
                    {% endif %}
                </div>
            <div class="">Title: {{ review.review_title|title }}</div>
            <div>

               {{ review.review_text|capfirst }}
            </div>
           
           
       </div>
    </div>
</div>
    {% if user.is_authenticated %}
        {% if review.author == user %}
            <div class="row mt-3 mb-5">
                <div class="col center-align mt-5">
                    <a class="btn btn-success btn-sm mr-5" href="{% url 'profile_page' %}">Cancel</a>
                    <a class="btn btn-danger btn-sm ml-5" href="{% url 'delete_review' review.id %}">Delete</a>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-8 offset-2 center-align white-text">
                    <h3>You can only delete your own reviews!!</h3>
                    <br>
                    <a class="btn btn-info btn-sm mr-5" href="{% url 'profile_page' %}">Back to your profile</a>
                </div>
            </div>
        {% endif %}
    {% endif %}
</div>

  
{% endblock %}