{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="row">
    <div class="col-12 promotion-section">
       <span class="promotion-section-title">Edit Review</span>
    </div>
</div>
<div class="row">
    <div class="col-10 offset-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 white-text">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-10 offset-1">
                    {% csrf_token %}
                    {{ review_form.review_title| as_crispy_field }}
                    {{ review_form.review_text| as_crispy_field }}
                </div>
            </div>
            <div class="container center-align">
                <button type="submit" class="btn yellow-btn mb-5 center-align" name="submit">Confirm Changes</button>
            </div>
            <input type="hidden" name="next" value="{{ request.path }}">
        </form>
    </div>
</div>
  
{% endblock %}