{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="row">
    <div class="col-8 offset-2 center-align mt-3 mb-5">
        <span class="white-text trolley-title">Your Trolley</span>
    </div>
</div>
<div class="row">
    
</div>
{% if trolley_items %}
<div class="row">
    <div class="col-12 col-md-8 order-12">
        <div class="row white-text">
            <div class="col center-align">
                Products in your Trolley
            </div>
        </div>
        <hr class="hr-trolley">
        {% for item in trolley_items %}
            <div class="row mt-3">
                <div class="col-5 offset-1 center-align">
                    {% if item.product.image %}
                        <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="trolley-image">
                    {% else %}
                        <img src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}" class="trolley-image">
                    {% endif %}
                </div>
                <div class="col-5 white-text center-align">
                    {{ item.product.name }}
                    <hr class="hr-trolley">
                    Cat. {{ item.product.category.friendly_name|title }}
                    <hr class="hr-trolley">
                    Price 
                    {% if item.product.special_price %}
                        <span class="text-red ml-1"> SALE</span>
                        <br>
                        <del class="grey-text">€{{ item.product.price}}</del>
                        <span class="white-text">€{{ item.product.special_price }}</span>
                    {% else %}
                        <span class="white-text ml-1">€{{ item.product.price }}</span>
                    {% endif %}
                </div>
                <div class="col-5 offset-1 center-align mt-3 white-text">
                    <form class="form update-form" action="" method="POST">
                        {% csrf_token %}
                        <p class="mt-3 ml-2">
                            <strong class="white-text">Quantity:</strong>
                            <input class="qty-selector ml-3" type="number" name="quantity" value="{{ item.quantity }}" min="1" max="{{ item.product.number_in_stock }}" data-item_id="{{ item.product.id }}" id="id_qty_{{ item.product.id }}" required>
                        </p>
                        <button class="hidden-btn float-left" type="submit" formaction="{% url 'update_trolley' item.product.id  %}">
                            <span class="update-trolley-product text-success">
                                <small>Update</small>
                            </span>
                        </button>
                        <button class="hidden-btn float-right" type="submit" formaction="{% url 'delete_trolley_product' item.product.id  %}">
                            <span class="delete-trolley-product text-danger" id="remove_{{ item.product.id }}">
                                <small>Delete</small>
                            </span>
                        </button>
                        <input type="hidden" name="next" value="{{ request.path }}">
                    </form>
                </div>
                <div class="col-5 white-text center-align mt-3">
                    Subtotal {{ item.line_product_subtotal }}
                </div>
            </div>
            <hr class="hr-trolley">
        {% endfor %}
    </div>
    <div class="col-12 col-md-4">
        <div class="row">
            <div class="col-10 offset-1 text-white">
                <div class="row">
                    <div class="col center-align white-text mb-5">
                        {% if items_count > 1 %}
                            <strong>Your Trolley contains {{ items_count }} products</strong>
                        {% else %}
                            <strong>Your Trolley contains {{ items_count }} product</strong>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 text-right white-text">
                        <p>Total </p>
                        <p>Delivery</p>
                        <p class="grand-total">Grand Total</p>
                    </div>
                    <div class="col-6 text-left white-text">
                        <p>€{{ total|floatformat:2 }}</p>
                        {% if total > free_delivery_min_spend %}
                            <p class="text-green">FREE</p>
                        {% else %}
                            <p>€{{ delivery_charge }}</p>
                        {% endif %}
                        <p class="grand-total">€{{ grand_total }}</p>
                    </div>
                </div>
            </div>
            <div class="col-12 center-align white-text mt-3 mb-5">
                <a href="{% url 'products' %}" class="btn yellow-inverse-btn center-align">Back to Store</a> 
                <a href="{% url 'view_checkout_page' %}" class="btn yellow-btn center-align">Checkout</a> 
            </div>
        </div>
    </div>
</div>
{% else %}
    <div class="col-10 offset-1 center-align text-red">
        Your Trolley is empty!
        <br>
        <a href="{% url 'products' %}" class="btn yellow-btn center-align">Go Shopping!</a> 
    </div>
{% endif %}
{% endblock %}
