{% extends 'base.html' %}
{% load static %}
{% block extra_title %} - Profile Page {% endblock %}
{% block content %}
<div class="row">
    <div class="col-8 offset-2 col-lg-3 offset-lg-1">
        <h2 class="white-text center-align mt-5">Your Profile</h2>
        <div class="white-text">
            <form action="{% url 'profile_page' %}" method="POST">
                {% csrf_token %}
                <div class="profile-info">Username: {{ profile.user.username }}</div>
                <div class="profile-info">Email Address: {{ profile.user.email }}</div>
                <h4>Your delivery information:</h4>
                {{ form|crispy }}
                <div class="center-align">
                    <button type="submit" class="btn yellow-btn mb-5">Update Your Delivery Info</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-12 col-lg-8">
        <div class="white-text">
            <h3 class="yellow-text center-align mt-5 mb-5">Your Orders ( {{ order_count }} )</h3> 
            <hr class="hr-trolley">
            {% for order in orders %}
                <div class="order-container text-white">
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <a href="{% url 'profile_order_history' order.order_number %}">
                                <p class="ml-3 white-text">Order Number:<br>{{ order.order_number|truncatechars:6 }}</p>
                            </a>
                        </div>
                        <div class="col-12 col-md-4">
                            <p class="ml-3">Date:<br>{{ order.order_date }}</p>
                        </div>
                        <div class="col-12 col-md-4">
                            <p class="ml-3">Order Total:<br>€{{ order.grand_total }}</p>
                        </div>
                    </div>
                    <hr class="hr-order-history">
                    {% for item in order.lineitems.all %}
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="mb-3 center-align">
                                {% if item.product.image %}
                                    <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="trolley-image">
                                {% else %}
                                    <img src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}" class="trolley-image">
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-12 col-md-6 center-align">
                            Name: {{ item.product.name|title }}
                            <hr class="hr-trolley">
                            Category: {{ item.product.category|title }}
                            <hr class="hr-trolley">
                            Quantity: {{ item.quantity }}
                            <hr class="hr-trolley">
                            Price:
                            {% if item.product.special_price %}
                                <span class="text-red ml-1"> SALE</span>
                                <br>
                                <del class="white-text">€{{ item.product.price}}</del>
                                <span class="white-text ml-1">€{{ item.product.special_price }}</span>
                            {% else %}
                                <span class="white-text ml-1">€{{ item.product.price }}</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            {% if reviews %}
                                {% for review in reviews %}
                                    {% if review.product.id == item.product.id %}
                                        <div class="center-align mt-5">
                                            <p>You reviewed this product on the {{ review.review_date }}</p>
                                        </div>
                                        <div class="review-btn-container center-align">
                                            <a href="{% url 'edit_review' review.id %}" class="btn  btn-sm btn-success">Edit Review</a>
                                            <a href="{% url 'delete_review_warning' review.id %}" class="btn  btn-sm btn-danger">Delete Review</a>
                                        </div>
                                        <div class="review-title center-align">{{ review.review_title|title }}</div>
                                        <hr class="hr-trolley">
                                        <div class="row">
                                            <div class=" col-8 offset-2 review-text-container">
                                                <p>{{ review.review_text|capfirst }}</p>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            {% if item.product.id not in all_review_product_ids %}
                                <div class="center-align">
                                    <p>You didn't review this product yet!</p>
                                </div>
                                <div class="center-align review-btn-container">
                                    <a href="{% url 'add_review' item.product.id %}" class="btn btn-sm yellow-btn">Leave a Review</a>
                                </div>
                            {% endif %}

                        </div>
                    </div>
                    <hr class="hr-order-history">
                    {% endfor%}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}