{% extends 'base.html' %}
{% load static %}

{% block extra_title %} - Store - About Us {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 center-align promotion-section">
            <span class="promotion-section-title">About Us</span>
        </div>
    </div>
    <div class="row">
        <div class="col-10 offset-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 white-text center-align">
            <p>Original Crafts is an Irish Company that sells high quality art and crafts products.</p>
            <p>Our company is based in Dublin Ireland</p>
            <p>We are proud to sell top of the range products.</p>
            <p>We offer fast and efficient delivery by courier and post, and fully secure online payments accepted. </p>
            <P>Try our products!!! You won't regret it!</p>
            <p class="yellow-text">Original Crafts</p>
        </div>
    </div>
{% endblock %}