{% extends 'base.html' %}
{% load static %}


{% block content %}
  {% if request.user.is_authenticated or request.user.is_superuser %}
    <div class="bg-black text-white center-align welcome-message">
      Welcome {{ request.user.username }}
    </div>
  {% else %}
    <div class="bg-black text-white center-align welcome-message">
      You are not logged in! <br>
      <a class="yellow-text" href="{% url 'account_login' %}">Login</a> or <a class="yellow-text" href="{% url 'account_signup' %}">Signup</a> or continue as guest!
    </div>
  {% endif %}
  <div class="container-fluid homepage-message-container sunset-bg">
    <div class="home-message-container">
      {% if request.user.is_authenticated or request.user.is_superuser %}
        <div class="user-welcome-message">
          <p>Welcome back {{ request.user.username }}!!</p>
          <p>We have free delivery on orders over €50!!</p>
          <p>Check our new products now</p>
        </div>
        <div class="">
          <a href="{% url 'products' %}">
            <button class="btn go-to-store-btn">Check Our Products</button>
          </a>
        </div>
      {% else %}
        <div class="user-welcome-message">
          <p>Welcome to Original Craft</p>
          <p>We sell top quality products to</p>
          <p>Enjoy your favorite hobbies...</p>
        </div>
        <div class="">
          <a href="{% url 'products' %}">
            <button class="btn go-to-store-btn">Explore the Shop</button>
          </a>
        </div>
      {% endif %}
    </div>
  </div>
  {% block store_links %}
    {% include 'includes/product_links.html' %}
  {% endblock %}
  <div class="row">
    <div class="col-12 promotion-section">
      <i class="fas fa-arrow-down"></i>
      <span class="promotion-section-title">Popular Products</span>
      <i class="fas fa-arrow-down"></i>
    </div>
  </div>
  <div class="row bg-black">
    {% for product in products %}
      {% if product.number_in_stock > 0 and not product.hide_product and product.add_to_popular_products %}
        {% block product_details %}
          {% include 'includes/product_details.html' %}
        {% endblock %}
      {% endif %}
    {% endfor %}
  </div>
  <div class="row bg-black m-1">
    <a href="#" class="col-12 col-md-6 col-lg-3 col-xl-3 bg-oc-logo-small image-container">
      <div class="about-us">
        <h2 class="about-us-title center-align">About Us</h2>
      </div>
    </a>
    <a href="{% url 'original_gallery' %}" class="col-12 col-md-6 col-lg-3 col-xl-3 jigsaw-puzzle-1-small image-container">
      <div class="jigsaw">
        <h2 class="jigsaw-title center-align">Original Gallery</h2>
      </div>
    </a>
    <a href="#" class="col-12 col-md-6 col-lg-3 col-xl-3 paintbynumbers-2-small image-container">
      <div class="paint-by-numbers">
        <h2 class="paint-by-numbers-title center-align">Accessories</h2>
      </div>
    </a>
    <a href="" class="col-12 col-md-6 col-lg-3 col-xl-3 paint-by-numbers-history-1-small image-container">
      <div class="paint-by-numbers">
        <h2 class="paint-by-numbers-title center-align">Paint by Numbers <br> Original Gallery</h2>
      </div>
    </a>
  </div>
{% endblock %}
