{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="bg-black jumbotron-container">
    <div class="jumbotron bg-black single-product-container">
        <div class="row">
            <div class="col-12 col-md-6">
                {% if product.image %}
                <a href="{% url 'single_product' product.id %}">
                    <img src="{{ product.image.url }}" class="single-product-img" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="{% url 'single_product' product.id %}">
                    <img src="{{ MEDIA_URL }}noimage.png" class="single-product-img" alt="{{ product.name }}">
                </a>
                {% endif %}
            </div>
            <div class="col-12 col-md-6">
                <ul>
                    <li class="white-text">{{ product.name }}</li>
                    <li class="white-text">{{ product.category }}</li>
                    {% if product.special_price %}
                    <li><span class="text-red">SALE </span><del class="grey-text">€{{ product.price}}</del><span
                            class="white-text"> €{{ product.special_price }}</span></li>
                    {% else %}
                    <li class="white-text">€{{ product.price }}</li>
                    {% endif %}
                    <li class="white-text">{{ product.description }}</li>
                </ul>
                <form class="form" action="{% url 'add_to_trolley' product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="row form-row">
                        <div class="col-12">
                            <p class="mt-3 ml-2">
                                <strong class="white-text">Quantity:</strong>
                                <input class="qty-selector ml-3" type="number" name="quantity" value="1" min="1" max="{{ product.number_in_stock }}" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}" required>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 center-align mt-5">
                            <a href="{% url 'products' %}" class="btn yellow-inverse-btn">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                    Check more products
                                </span>
                            </a>
                            <input type="submit" class="btn yellow-btn" value="Add to Trolley">
                        </div>
                    </div>
                </form>
                {% if user.is_authenticated %}
                    {% if user.is_superuser %}
                    <div class="row mt-5">
                        <div class="col center-align mt-5">
                            <a class="btn btn-info btn-sm mr-5" href="{% url 'update_product' product.id %}">Update</a>
                            <a class="btn btn-danger btn-sm ml-5" href="{% url 'delete_warning' product.id %}">Delete</a>
                        </div>
                    </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    <!--
        {% if session.user.is_autenticated %}
            {% if product.id in user.purchase_history %}
                <a href="" class="center-align btn btn-success">
                    Write a review of this product!
                </a>
            {% endif %}
        {% endif %}
        {% if products.reviews %}
        {% else %}
            <div class="row">
                <div class="col-12 center-align white-text">
                    There are not reviews of this product yet!
                </div>
            </div>
        {% endif%}-->
</div>
{% endblock %}