{% extends 'base.html' %}
{% load static %}
{% block extra_title %} - Checkout Completed {% endblock %}

{% block content %}

<div class="row">
    <div class="col-8 offset-2 center-align mt-3 mb-5">
        <span class="white-text trolley-title">Checkout Completed</span>
    </div>
</div>
<div class="row">
    <div class="col-8 offset-2 center-align mt-3 mb-5">
        <span class="center-align yellow-text mt-2 mb-5 checkout-complated-header">Thank You</span>
        <p class="center-align white-text">Your order was successfully completed</p>
        <hr class="hr-trolley">
    </div>
</div>
<div class="row">
    <div class="col-10 offset-1 col-md-5 offset-md-1 col-lg-4 offset-lg-1 white-text order-details-container">
        <p class="mt-5 center-align yellow-text">Order Details</p>
        <p class="mt-5">Order Number : <strong class="float-right">{{ order.order_number|truncatechars:10 }}</strong></p>
        <p>Customer : <strong class="float-right">{{ order.full_name }}</strong></p>
        <p>Email address : <strong class="float-right">{{ order.email_address }}</strong></p>
        <p>Phone Number : <strong class="float-right">{{ order.phone_number }}</strong></p>
        <p>Date  : <strong class="float-right">{{ order.order_date }}</strong></p>
        <p>Items Total  : <strong class="float-right">€{{ order.order_total }}</strong></p>
        <p>Delivery  : <strong class="float-right">€{{ order.delivery }}</strong></p>
        <p>Grand Total  : <strong class="float-right">€{{ order.grand_total }}</strong></p>
    </div>
    <div class="col-10 offset-1 col-md-5 offset-md-0 col-lg-4 offset-lg-2 white-text order-details-container">
        <p class="mt-5 center-align yellow-text">Delivery Details</p>
        <p class="mt-5">Deliver to: <strong class="float-right">{{ order.full_name|title }}</strong></p>
        <p>Contact phone number: <strong class="float-right">{{ order.phone_number }}</strong></p>
        <p>Street address: <strong class="float-right">{{ order.street_address }}</strong></p>
        <p>City: <strong class="float-right">{{ order.city_or_town|title }}</strong></p>
        {% if order.county %}
            <p>County: <strong class="float-right">{{ order.county|title }}</strong></p>
        {% endif %}
        {% if order.zip_postcode %}
            <p>Postcode - Eircode: <strong class="float-right">{{ order.zip_postcode }}</strong></p>
        {% endif %}
        <p>Country: <strong class="float-right">{{ order.country|title }}</strong></p>
    </div>
</div>
<hr class="hr-checkout-completed">
<div class="row">
    <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4 center-align">
        <div class="jumbotron white-text">
            <p>A Confirmation email was sent at <strong>{{ order.email_address }}</strong></p>
            <p>Thank You</p>
            <p>For any information you can contact us <strong><a class="yellow-text" href="{% url 'send_email' %}">here</a></strong></p>
            {% if from_profile_page %}
                <a href="{% url 'profile_page' %}" class="btn yellow-inverse-btn  mb-5">Back to Profile Page</a>
            {% else %}
                <a href="{% url 'home' %}" class="btn yellow-inverse-btn  mb-5">Back to Homepage</a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}