{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}


{% block content %}

<div class="row">
    <div class="col-8 offset-2 center-align mt-3 mb-5">
        <span class="white-text trolley-title">Checkout</span>
    </div>
</div>
{% if trolley_items %}
<div class="row">
    <div class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-0 order-12">
        <div class="row white-text">
            <div class="col-12 center-align mb-3">
                Products in your trolley
            </div>
        </div>
        <hr class="hr-trolley">
        {% for item in trolley_items %}
            <div class="row mt-3">
                <div class="col-6 center-align">
                    {% if item.product.image %}
                        <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="checkout-image">
                    {% else %}
                        <img src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}" class="checkout-image">
                    {% endif %}
                </div>
                <div class="col-6 white-text center-align">
                    {{ item.product.name }}
                    <hr class="hr-trolley">
                    Cat. {{ item.product.category|title }}
                    <hr class="hr-trolley">
                    Price 
                    {% if item.product.special_price %}
                        <span class="text-red ml-1"> SALE</span>
                        <br>
                        <del class="grey-text">€{{ item.product.price}}</del>
                        <span class="white-text">€{{ item.product.special_price }}</span>
                    {% else %}
                        <span class="white-text ml-1">€{{ item.product.price }}</span>
                    {% endif %}
                </div>
                <div class="col-6 center-align mt-3 white-text">
                    <form class="form update-form" action="" method="POST">
                        {% csrf_token %}
                        <p class="mt-3 center-align">
                            <strong class="white-text">Quantity:</strong>
                            <input class="qty-selector mt-2" type="number" name="quantity" value="{{ item.quantity }}" min="1" max="{{ item.product.number_in_stock }}" data-item_id="{{ item.product.id }}" id="id_qty_{{ item.product.id }}" required>
                        </p>
                        <button class="hidden-btn float-left" type="submit" formaction="{% url 'update_trolley' item.product.id  %}">
                            <a class="update-trolley-product text-success " href="" >
                                <small>Update</small>
                            </a>
                        </button>
                        <button class="hidden-btn float-right" type="submit" formaction="{% url 'delete_trolley_product' item.product.id  %}">
                            <a class="delete-trolley-product text-danger " href="" id="remove_{{ item.product.id }}">
                                <small>Delete</small>
                            </a>
                        </button>
                        <input type="hidden" name="next" value="{{ request.path }}">
                    </form>
                </div>
                <div class="col-6 white-text center-align mt-3">
                    Subtotal {{ item.line_product_subtotal }}
                </div>
            </div>
            <hr class="hr-trolley">
        {% endfor %}
    </div>
    <div class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-1 white-text">
        <form id="payment-form" action="{% url 'view_checkout_page' %}" method="POST" >
            {% csrf_token %}
            <div class="row">
                <div class="col-10 offset-1">
                    {{ form.full_name | as_crispy_field }}
                    {{ form.email_address | as_crispy_field }}
                    {{ form.phone_number | as_crispy_field }}
                    <hr class="hr-trolley">
                    <hr class="hr-trolley">
                    {{ form.street_address | as_crispy_field }}
                    {{ form.town_or_city | as_crispy_field }}
                    {{ form.county | as_crispy_field }}
                    {{ form.zip_postcode | as_crispy_field }}
                    {{ form.country | as_crispy_field }}
                    <hr class="hr-trolley">
                    {% if user.is_authenticated %}
                        <div class="form-check center-align">
                            <input class="save-address-details" type="checkbox" name="save-address-details" id="save-address-details" checked>
                            <label class="form-check-label" for="save-address-details">
                                Save Address Details
                            </label>
                        </div>
                    {% else %}
                        <div class="row">
                            <div class="col center-align">
                                <div>
                                    <a class="yellow-text" href="{% url 'account_signup' %}">Sign Up  </a>
                                    <span>or</span>
                                    <a class="yellow-text" href="{% url 'account_login' %}">  Login</a>
                                </div>
                                <div>to save delivery details to your profile</div>
                            </div>
                        </div>
                    {% endif %}
                    <hr class="hr-trolley">
                </div>
            </div>
            <div class="row">
                <div class="col-10 offset-1 text-white">
                    <div class="row">
                        <div class="col-6 text-right white-text">
                            <p>Total </p>
                            <p>Delivery</p>
                            <p class="grand-total">Grand Total</p>
                        </div>
                        <div class="col-6 text-left white-text" id="subtotal">
                            <p>€{{ total|floatformat:2 }}</p>
                            {% if total > free_delivery_min_spend %}
                                <p class="text-green">FREE</p>
                            {% else %}
                                <p id="delivery">€{{ delivery_charge }}</p>
                            {% endif %}
                            <p id="grand-total" class="grand-total">€{{ grand_total }}</p>
                        </div>
                    </div>
                </div>
                <hr class="hr-trolley">
                <h3 class="ml-5 mt-3">Payment</h3>
                <div class="col-10 offset-1">
                    <label for="card-element">
                        Credit or Debit Card
                    </label>
                    <div id="card-element">
                    </div>
                    <div id="card-errors" role="alert" class='mt-1'></div>
                    </div>
                    <input type="hidden" value="{{ client_secret }}" name="client_secret">
            </div>
            <div class="row">
                <div class="col-10 offset-1 center-align white-text mt-5 mb-5">
                    <a href="{% url 'products' %}" class="btn btn-sm yellow-inverse-btn float-left">Back to Store</a>
                    <button id="form-post-button"class="btn btn-sm yellow-btn float-right">Complete Order</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% else %}
    <div class="col-10 offset-1 center-align text-red">
        Your trolley is empty!
        <br>
        <a href="{% url 'products' %}">
            <button class="btn yellow-btn center-align">Go Shopping!</button>
        </a> 
    </div>
{% endif %}
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'checkout/js/checkout.js' %}"></script>
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
{% endblock %}