@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
html, body {
    overflow-x: hidden;
    width: 100%;
    height: auto;
    min-height: 100vh;
    font-family: "Lato", sans-serif;
    position: relative;
    }
body {
    overflow-x: hidden;
    background-color: #000;
    padding-bottom: 100px;
}
a:hover {
    text-decoration: none;
    color: wheat;
}
.white-text {
    color: #fff;
}
.grey-text {
    color: #695c5c;
}
.yellow-text {
    color: #e2d407;
}
.yellow-text:hover {
    color: #c1eb04;
}
.center-align {
    text-align: center;
}
.yellow-btn {
    margin-top: 10px;
    background-color: #c1eb04;
    border: #000 1px solid;
    border-radius: 5px;
}
.btn-secondary {
    background-color: #c1eb04;
}
.yellow-btn:hover {
    margin-top: 10px;
    background-color: #e2d407;
    border: #000 1px solid;
    border-radius: 5px;
}
.yellow-inverse-btn {
    margin-top: 10px;
    background-color: #000;
    border: #c1eb04 1px solid;
    border-radius: 5px;
    color: #fff;
}

.yellow-inverse-btn:hover {
    color: grey;
    text-decoration: none;
}
label.required-field {
    color: #695c5c;
}
.hidden-btn {
    background-color: transparent;
    border: 0;
}
.bg-jumbotron-dark {
    background-color: #695c5c;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
/* back to top link */
.back-to-top-container {
    background-color: black;
    color: white;
    position: fixed;
    bottom: 20px;
    right: 50px;
    border: 1px #fff solid;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    display: none;
}
/* top banner */
.top-banner-container {
    background-color: #c1eb04;
    color: #000;
    height: auto;
    min-height: 50px;
}
.top-banner-text  {
    font-size: 20px;
    font-weight: 400;
    top: 3px;
}
.text-red {
    color: red;
}
.text-green {
    color: green;
}
.save-tag {
    background-color: red;
    border-radius: 20px;
    color: black;
    padding: 5px;
}
.great-tag {
    background-color: rgb(0, 255, 21);
    border-radius: 20px;
    color: black;
    padding: 5px;
}
.logo-container {
    height: 100px;
    color: rgb(17, 7, 7);
    text-align: center;
    font-size: 60px;
}
.logo-container {
    background: url('/media/ms4-header2.jpg') no-repeat center center;
    background-size: cover;
}
.logo-image {
    text-decoration: none;
}
.logo-text {
    height: 100px;
    color: #000;
    font-family: 'Lato';
}
.cart-container {
    padding-top: 10px;
}
.shopping-cart-icon {
    color: #000;
}
.shopping-cart-icon i {
    font-size: 20px;
}
.cart-products-qty {
    font-size: 20px;
    font-weight: 400;
}
.cart-products-total {
    font-size: 20px;
    font-weight: 400;
}
.top-banner-message {
    font-size: 20px;
    font-weight: 300;
    top: 3px;
    padding-top: 7px;
    text-align: center;
}
/************navbar********************/
.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 20px;
    padding-left: 20px;
}
.search-form {
    padding: 5px;
    background-color: #c1eb04;
}
.product-links {
    background-color: #695c5c;
}
/*****************************footer***************************/
footer {
    width: 100%;
    height: 100px;
    bottom: 0;
    padding: 10px;
    margin-bottom: 0;
}
.footer-container {
    padding: 20px 150px 5px;
    text-align: center;
    background-color: #c1eb04;
    color: #000;
    position: absolute;
    bottom: 0;
}
.footer-container i {
    color: #000;
}
.copyright-container {
    font-size: 15px;
    padding-top: 15px;
}
/***********index.html****************/
.sunset-bg {
    background: url('/media/welcome-message-img.JPG') no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: 100% 100%;
}
.homepage-message-container {
    padding: 10px;
}
.home-message-container {
    padding: 20px;
    height: 300px;
    width: fit-content;
    color: white;
    font-size: 20px;
    background-color: #383435ab;
    text-align: center;
    margin-left: 50%;
    border-radius: 5px;
}
.home-message {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: lato;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
    color: #000;
}
.welcome-message {
    margin: 10px;
}
.white-overlay {
    background-color: rgba(255, 255, 255, 0.6);
    border: #000 solid 1px;
    border-radius: 5px;
}
.register-now-btn {
    margin-top: 10px;
    background-color: #c1eb04;
    border: #000 1px solid;
    border-radius: 5px;
}
.go-to-store-btn {
    margin-top: 20px;
    background-color: #c1eb04;
    border: #000 1px solid;
    border-radius: 5px;
}
.image-container {
    width: 90%;
    height: auto;
    background-color: #695c5c;
    padding: 10px;
    height: 300px;
    overflow: hidden;
}
.cover {
    height: 100%;
    width: 100%;
}
.promotion-section {
    padding: 20px 0;
    background-color: #000;
    text-align: center;
    color: #fff;
    font-size: 30px;
}
.promotion-section-title {
    padding: 20px;
}
/*   popular product section index.html    */
.bg-black {
    background-color: #000;
}
.popular-products-div {
    padding: 50px 50px 50px;
}
.card {
    margin: 5px;
}
.card-img-top {
    width: 100%;
    height: 200px;
    padding: 10px;
    background-color: #796363;
}
.card-body {
    background-color: rgb(51, 45, 35);
}
.card-text  {
    color: #fafafa;
    text-decoration: none;
    padding-right: 20px;
    margin-bottom: 5px;

}
a:hover {
    text-decoration: none;
}
.jumbotron-container {

    top: 0;
}
.jumbotron {
    background-color: transparent;
    padding: 4rem 2rem;
    margin: 50px;
    padding: 20px;
    border: 1px #fff solid;
}
.single-product-img {
    padding: 10px;
    background-color: #796363;
    max-width: 300px;
}
.single-product-container {
    padding: 20px 10px;
}
.product-title {
    font-size: 25px;

}
/**************contact us section ***************/
.bg-oc-logo-small {
    background: url('/media/oc-logo-small.png') no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: 100% 100%;
}
.about-us-title {
    margin-top: 20px;
    color: #000;
    font-weight: 600;
}
/***************search result page **************/
.search-result-title-container {
    padding: 20px 0;
    background-color: #000;
    text-align: center;
    color: #fff;
    font-size: 20px;
}
.search-result-title {
    padding: 20px;
}
/***************add to trolley page****************/
.qty-button, .qty-input {
    display: inline;
    padding: 10px;
}
/**************trolley page*******************/
.trolley-title {
    font-size: 25px;
    letter-spacing: 3px;
}
.trolley-image {
    margin-top: 30px;
    max-width: 200px;
    height: auto;
    border: 1px solid #695c5c;
}
.hr-trolley {
    margin: 10px;
    background-color: #fff;
    width: 80%;
    margin-left: 10%;
}
.hr-checkout-completed {
    margin: 10px;
    background-color: #fff;
    width: 100%;
}
.grand-total {
    font-weight: 600;
    font-size: 20px;
}
/**********messages****************/
.message-container {
    position: fixed;
    top: 100px;
    right: 50px;
    z-index: 99999999;
}
.toast-success {
    border: 4px solid green;
}
.toast-info {
    border: 4px solid blue;
}
.toast-danger {
    border: 4px solid red;
}
.toast-warning {
    border: 4px solid orange;
}
/**************checkout page ********************/
.checkout-image {
    width: 100px;
    height: auto;
    padding: 3px;
    background-color: #695c5c;
}
.checkout-complated-header {
    font-size: 30px;
}
/**********reviews section*******************/
.review-container {
    margin: 50px;
    padding: 50px;
    background-color: rgb(68, 65, 65);
    border: 1px solid #fff;
    border-radius: 5px;
    width: auto;
    height: fit-content;
}
.review-container-text {
    font-size: 15px;
}
/***********profile page ************************/
.order-container {
    margin: 50px;
    padding: 50px;
    background-color: rgb(68, 65, 65);
    border: 1px solid #fff;
    border-radius: 20px;
    width: auto;
    height: fit-content;
}
.review-btn-container {
    margin-bottom: 50px;
}
.hr-order-history {
    margin-bottom: 50px;
    background-color: #fff;
    width: 80%;
    margin-left: 10%;
}
.profile-info {
    font-size: 15px;
    margin: 20px 5px;
}

@media screen and (max-width: 575px){

}
/**************media queries*********************/
@media screen and (max-width: 900px){
    /*top banner - header */
    .logo-container {
        height: 80px;
        color: rgb(17, 7, 7);
        text-align: center;
        font-size: 40px;
    }
    .logo-text {
        padding-top: 10px;
    }
    /*********navbar************/
    .navbar-dark .navbar-nav .nav-link {
        color: #fafafa;
        font-size: 15px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: right;
    }
    .br-top-banner {
        display: inline;
    }
    .cart-container {
        text-align: center;
    }
}
@media screen and (max-width: 800px){
    .popular-products-div {
        padding: 30px 30px 30px;
    }
}
@media screen and (max-width: 575px){
    /*top banner - header */
    .top-banner-text  {
        font-size: 15px;
        font-weight: 400;
        top: 3px;
    }
    .top-banner-message {
        font-size: 15px;
        top: 0;
        padding: 10px 0;
    }
    .cart-container {
        padding: 10px 0;
    }
    .fa-shopping-cart:before {
        font-size: 15px;
    }
    .cart-products-qty {
        font-size: 15px;
    }
    .cart-products-total {
        font-size: 15px
    }
    .promotion-section {
        font-size: 20px;
    }
    .card {
        flex-direction: row;
    }
    .card-img-top {
        width: 150px;
        height: 100%;
    }
    .back-to-the-top {
        display: none;
    }
    .fa-arrow-up:before {
        font-size: 30px;
    }
    .back-to-top-container {
        background-color: black;
        color: white;
        position: fixed;
        bottom: 20px;
        right: 50px;
        border: 1px #fff solid;
        border-radius: 5px;
        text-align: center;
        padding: 5px;
        cursor: pointer;
        display: none;
    }
    .home-message-container {
        height: 200px;
        background-color: transparent;
    }
    .go-to-store-btn {
        float: right;
    }
    .user-welcome-message{
        display: none;
    }
    .logo-container {
        height: 50px;
        color: rgb(17, 7, 7);
        text-align: center;
        font-size: 30px;
    }
    .logo-text {
        padding-top: 3px;
    }
    .bg-dark {
        background: url('/media/ms4-header2.jpg') no-repeat center center;
        background-size: cover;
    }
    .navbar-dark .navbar-toggler {
        color: #fafafa;
        border-color: #796363;
        background-color: rgb(43, 20, 20);
    }
    .navbar-dark .navbar-nav, .navbar-dark .navbar-nav .show>.nav-link {
        color: #fff;
        background-color: rgba(0, 0, 0, 0.6);
        margin-left: 60%;
        border-radius: 5px;
    }
    .dropdown-item {
        text-align: right;
        color: #fafafa;
    }
    .dropdown-menu.show {
        display: block;
        background-color: rgba(0, 0, 0, 0.80);
        color: #fafafa;
        margin: 0;
        padding: 0;
        border: 0;
        margin-left: 40%;
    }
    .dropdown-item:focus, .dropdown-item:hover {
        color: rgb(247, 240, 240);
        text-decoration: none;
        background-color: transparent;
    }
    .navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover{
        color: #796363;
    }
    .navbar-container {
        padding-left: 56px;
    }
    .navbar-dark .navbar-brand {
        color: #000;
        font-size: 30px;
        font-family: loto;
    }
    .go-to-store-btn {
        margin-top: 10px;
    }
    /* search result */
    .search-result-text {
        font-size: 15px;
    }
    /* footer*/
    .footer-container {
        padding: 20px 20px 5px;
        text-align: center;
    }
    .copyright-container {
        font-size: 15px;
        padding-top: 10px;
    }
    .trolley-image {
        margin-top: 30px;
        max-width: 150px;
        height: auto;
        border: 1px solid #695c5c;
    }
    .review-container {
        margin: 20px 30px;
        padding: 20px 30px;
        background-color: rgb(68, 65, 65);
        border: 1px solid #fff;
        border-radius: 5px;
        width: auto;
        height: fit-content;
    }
    .review-container-text {
        font-size: 15px;
    }
}