@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;500;700&display=swap');
html, body {
    overflow-x: hidden;
    width: 100%;
    height: auto;
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
    position: relative;
    }
body {
    overflow-x: hidden;
}
/* top banner */
.top-banner-container {
    background-color: #c1eb04;
    color: #000;
    height: auto;
    text-align: center;
}
.top-banner-message {
    font-size: 30px;
    font-weight: 300;
    top: 3px;
}
.top-banner-tag {
    background-color: #e20303d5;
    color: #fff;
    border-radius: 10px;
    padding: 5px;
}
.br-top-banner {
    display: none;
}
.logo-container {
    height: 100px;
    color: rgb(17, 7, 7);
    text-align: center;
    font-size: 60px;
}
.logo-container {
    background: url('/media/ms4-header-bg.jpg') no-repeat center center fixed;
    background-size: cover;
}
.logo-image {
    text-decoration: none;
}
.logo-text {
    height: 100px;
    color: #000;
    font-family: 'Lato';
}
.shopping-cart-container {
    position: absolute;
    top: 10px;
    right: 50px;
}
.shopping-cart-icon {
    color: #000;
}
.shopping-cart-icon i {
    font-size: 20px;
}
.cart-products-qty {
    font-size: 20px;
    font-weight: 500;
}
/************navbar********************/
.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 20px;
    padding-left: 20px;
}
.search-form {
    padding: 5px;
    background-color: #c1eb04;
}
/*****************************footer***************************/
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.footer-container {
    padding: 20px 150px 5px;
    text-align: center;
    background-color: #c1eb04;
    color: #000;
}
.footer-container i {
    color: #000;
}
.copyright-container {
    font-size: 15px;
    padding-top: 15px;
}
/***********index.html****************/
.sunset-bg {
    background: url('/media/Crohy_Head_Sea_Arch_Ireland.jpg') no-repeat center center fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: 100% 100%;
    background-attachment: fixed;
}
.home-message-container {
    padding: 20px;
    height: 300px;
}
.home-message {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: lato;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
    color: #fafafa;
}
.go-to-store-btn {
    margin-top: 20px;
    background-color: #c1eb04;
    border: #c1eb04;
    border-radius: 5px;
}
.carousel-row {
    background-color: #000;
    padding: 100px;
}
/**************media queries*********************/
@media screen and (max-width: 900px){
    /*top banner - header */
    .top-banner-message {
        font-size: 20px;
        font-weight: 300;
        top: 3px;
        padding-top: 7px;
    }
    .logo-container {
        height: 80px;
        color: rgb(17, 7, 7);
        text-align: center;
        font-size: 40px;
    }
    .logo-text {
        padding-top: 10px;
    }
    /*********navbar************/
    .navbar-dark .navbar-nav .nav-link {
        color: #fafafa;
        font-size: 15px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: right;
    }
    .br-top-banner {
        display: inline;
    }
}
@media screen and (max-width: 575px){
    /*top banner - header */
    .top-banner-tag {
        background-color: #e20303d5;
        color: #fff;
        border-radius: 10px;
        padding: 3px;
    }
    .top-banner-message {
        font-size: 15px;
        font-weight: 300;
        top: 3px;
        padding-top: 3px;
    }
    .logo-container {
        height: 50px;
        color: rgb(17, 7, 7);
        text-align: center;
        font-size: 30px;
    }
    .logo-text {
        padding-top: 3px;
    }
    .shopping-cart-container {
        position: absolute;
        top: 5px;
        right: 20px;
    }
    .bg-dark {
        background: url('/media/ms4-header-bg.jpg') no-repeat center center fixed;
        background-size: cover;
    }
    .navbar-dark .navbar-toggler {
        color: #fafafa;
        border-color: #796363;
        background-color: rgb(43, 20, 20);
    }
    .navbar-dark .navbar-nav, .navbar-dark .navbar-nav .show>.nav-link {
        color: #fff;
        background-color: rgba(0, 0, 0, 0.6);
        margin-left: 60%;
        border-radius: 5px;
    }
    .dropdown-item {
        text-align: right;
        color: #fafafa;
    }
    .dropdown-menu.show {
        display: block;
        background-color: rgba(0, 0, 0, 0.80);
        color: #fafafa;
        margin: 0;
        padding: 0;
        border: 0;
        margin-left: 40%;
    }
    .dropdown-item:focus, .dropdown-item:hover {
        color: rgba(255,255,255,.75);
        text-decoration: none;
        background-color: transparent;
    }
    .navbar-container {
        padding-left: 56px;
    }
    .navbar-dark .navbar-brand {
        color: #000;
        font-size: 30px;
        font-family: loto;
    }
    /* footer*/
    .footer-container {
        padding: 20px 20px 5px;
        text-align: center;
    }
    .copyright-container {
        font-size: 15px;
        padding-top: 10px;
    }    
}