<footer class="footer-bg-color container-fluid footer-container">
    <div class="row row-center social-media">
        <div class="col-4 col-center">
            <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f" title="facebook icon"></i></a>
        </div>
        <div class="col-4 col-center">
            <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"
                title="twitter icon"></i></a>
        </div>
        <div class="col-4 col-center">
            <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram" title="instagram icon"></i></a>
        </div>
    </div>
    <div class="copyright-container">
        <div><i class="far fa-copyright" title="copyright icon">Copyright Ignazio Sotgiu <span id="year"></span></i>
        </div>
    </div>
</footer>