<div class="container-fluid top-banner-container">
    <div class="row">
        <div class="col-8 top-banner-message">
            {% if delivery_difference %}
                {% if delivery_difference > 0 %} 
                    <span class="top-banner-text text-red">
                        Add {{ delivery_difference }} to qualify for free delivery!
                    </span>  
                {% else %}
                    <span class="top-banner-text text-green">
                        You qualify for free delivery
                    </span>
                {% endif %}
            {% else %} 
                <span class="top-banner-text text-red">
                    <span class="save-tag d-none d-sm-inline">SAVE</span> Spend € 50 and get free delivery!
                </span>
            {% endif %}
        </div>
        <div class="col-4 cart-container">
            <span class="shopping-cart-container">
                <a href="#" class="shopping-cart-icon">
                    <i class="fas fa-shopping-cart"></i>
                </a>
                {% if products %}
                    <span class="cart-products-qty">
                        {{ products.length }}
                    </span>
                {% else %}
                    <span class="cart-products-qty">
                        0
                    </span>
                {% endif %}
            </span>
            |
            {% if grand_total %}
                {% if grand_total > 50 %}
                    <span class="cart-products-total text-green">€{{ grand_total }}</span>
                {% else %}
                    <span class="cart-products-total text-red">€{{ grand_total }}</span>
                {% endif %}
            {% else %}
                <span class="cart-products-total text-red">€0.00</span>
            {% endif %}
        </div>
    </div>
</div>

<div class="logo-container mx-auto d-none d-sm-block">
    <a href="{ url 'home' }" class="logo-image">
        <div class="logo-text">Original Crafts</div>
    </a>
    
</div>