<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand navbar-container mx-auto d-sm-none" href="{% url 'home' %}">Original Crafts</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">
      </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Products
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'search_result' %}?category=paint_by_numbers">Paint by Numbers</a></li>
            <li><a class="dropdown-item" href="{% url 'search_result' %}?category=jigsaw">Jigsaw Puzzle</a></li>
            <li><a class="dropdown-item" href="{% url 'search_result' %}?category=prints">Prints</a></li>
            <li><a class="dropdown-item" href="{% url 'search_result' %}?category=accessories">Accessories</a></li>
            <li><a class="dropdown-item" href="{% url 'search_result' %}?category=paint_by_numbers,jigsaw,prints,accessories">All Products</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {% if request.user.is_authenticated %}
              {% if request.user.is_superuser %}
                <span class="text-danger">Admin</span>
              {% else %}
                My Account
              {% endif %}
            {% else %}
            Register / Login
            {% endif %}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% if request.user.is_authenticated %}
              {% if request.user.is_superuser %}
                <li><a class="dropdown-item text-danger" href="{% url 'admin:index' %}">Admin Site</a></li>
                <li><a class="dropdown-item text-danger" href="{% url 'products' %}">Manage Products</a></li>
                <li><a class="dropdown-item text-danger" href="{% url 'add_product' %}">Add Product</a></li>
                <li><a class="dropdown-item text-danger" href="{% url 'hidden_products' %}">Hidden Products</a></li>
                <li><a class="dropdown-item text-danger" href="{% url 'out_of_stock_products' %}">Out of Stock Products</a></li>
              {% endif%}
              <li><a class="dropdown-item" href="{% url 'profile_page' %}">My Account</a></li>
              <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
            {% else%}
              <li><a class="dropdown-item" href="{% url 'account_signup' %}">Register</a></li>
              <li><a class="dropdown-item" href="{% url 'account_login' %}">Login</a></li>
            {% endif %}
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'best_sellers' %}">Best Sellers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'send_email' %}">Contacts</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid search-form">
  <div class="row">
    <div class="col-12 col-sm-6 offset-sm-3 col-lg-4 offset-lg-4">
      <form method="GET" action="{% url 'search_result' %}" class="d-flex mx-auto ">
        <input class="form-control" type="text" name="q" placeholder="Search Products" aria-label="Search">
        <button class="btn btn-black" type="submit"><i class="fas fa-search"></i></button>
      </form>
    </div>
  </div>
</div>